<mat-card>
  <form [formGroup]="form" (submit)="onSavePost()">
    <mat-form-field>
      <input matInput type="text" placeholder="Title" formControlName="title" />
      <mat-error *ngIf="form.get('title')!.invalid">Campo invalido</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="fileSelect.click()">
        Seleccionar imagen
      </button>
      <input type="file" #fileSelect (change)="onImageSelected($event)" />
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
        <img [src]="imagePreview" [alt]="form.value.title" />
      </div>
    </div>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Summary"
        formControlName="summary"
      />
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Description"
        formControlName="content"
      ></textarea>
      <mat-error *ngIf="contentIsValid()">Campo invalido</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </form>
</mat-card>
