mat-form-field,
input {
  width: 100%;
}

mat-card {
  margin-top: 1rem;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
